<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/apply_status.css}" />
    <title>지원현황</title>
  </head>
  <body>
  <!-- 헤더 -->
  <div th:replace="include/header :: header"></div>

  <!-- 전체 컨테이너 -->
  <div class="tab-box">
    <div class="tab-inner">
      <h2 class="mypage-title">마이페이지</h2>

      <!-- 탭 버튼 -->
      <div class="tab-buttons">
        <button class="tab" onclick="location.href='/mypage/member_modify'">회원정보수정</button>
        <button class="tab" onclick="location.href='/mypage/react_list'">이력서관리</button>
        <button class="tab1" onclick="location.href='/mypage/apply_status'">지원현황</button>
        <button class="tab" onclick="location.href='/mypage/scrap'">스크랩</button>
      </div>

      <!-- 게시물 리스트 -->
      <div class="apply-list" th:if="${historyList != null}">
        <div class="apply-card" th:each="history : ${historyList}">
          <div class="apply-info">
            <div class="job-title">
              <a th:href="@{/recruitment/detail/{id}(id=${history.applyHistoryId})}"
                 th:text="${history.recruitmentTitle}">공고명</a>
            </div>
            <div class="company-name" th:text="${history.recruitmentCompany}">회사명</div>
          </div>
          <div class="apply-buttons">
            <div class="situation" th:text="${history.statusDisplay}">지원상태</div>
            <div class="react-btn">
              <a th:href="@{/resume/detail/{id}(id=${history.resumeId})}">지원 이력서</a>
            </div>
          </div>
        </div>
      </div>

      <!-- 페이지네이션  -->
      <div th:replace="fragments/pagination :: fragment
        (${jobPage}, ${startPage}, ${endPage}, '/mypage/apply_status')">
      </div>
    </div>
  </div>

  <!-- 푸터   -->
  <div th:replace="include/footer :: footer"></div>
  </body>

</html>
