<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이력서 상세페이지</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/react.css}" />
    <script defer src="js/main.js"></script>
  </head>
  <body>
    <div th:replace="include/header :: header"></div>
    <div class="page-title">
      <p>마이페이지 &gt; 이력서</p>
    </div>
    <div class="container">
      <form th:action="@{/mypage/react_delete/{id}(id=${resume.resumeIdx})}" method="post">
        <table class="resume-table">
          <!-- 첫 줄: 이미지 텍스트 -->
          <tr>
            <th scope="row">제목</th>
            <td class="centered-cell">
              <div class="form-group">
                <p class="readonly-box1" th:text="${resume.title}">제목</p>
              </div>
            </td>
          </tr>

          <tr>
            <!-- 왼쪽: 이미지 + 파일 선택 -->
            <th style="text-align: center">
              <img id="preview" th:src="@{${resume.img}}" alt="미리보기 없음" />
            </th>

            <!-- 오른쪽: 개인정보 출력 -->
            <td>
              <div class="form-group">
                <label class="thick">이름</label>
                <p class="readonly-box1" th:text="${resume.user.userName}"></p>
              </div>

              <div class="form-group">
                <label class="thick">이메일</label>
                <p class="readonly-box1" th:text="${resume.user.userEmail}"></p>
              </div>

              <div class="form-group">
                <label class="thick">생년월일</label>
                <p class="readonly-box1" th:text="${#temporals.format(resume.user.userBirth, 'yyyy-MM-dd')}"></p>
              </div>

              <div class="form-group">
                <label>주소</label>
                <p class="readonly-box1" th:text="${resume.address}"></p>
              </div>

              <div class="form-group">
                <label>전화번호</label>
                <p class="readonly-box1" th:text="${resume.phoneNum}"></p>
              </div>

              <div class="form-group">
                <label>학력</label>
                <p class="readonly-box1" th:text="${resume.education}"></p>
              </div>

              <div class="form-group">
                <label>자격증 및 스킬</label>
                <p class="readonly-box1" th:text="${resume.ability}"></p>
              </div>

              <div class="form-group">
                <label>경력</label>
                <p class="readonly-box1" th:text="${resume.antecedents}"></p>
              </div>

              <div class="form-group">
                <label>수상이력</label>
                <p class="readonly-box1" th:text="${resume.awards}"></p>
              </div>
            </td>
          </tr>

          <tr>
            <th><div class="question"><p>질문1.</p><p th:text="${resume.question1}"></p></div></th>
            <td><p class="content" th:text="${resume.answer1}"></p></td>
          </tr>
          <tr>
            <th><div class="question"><p>질문2.</p><p th:text="${resume.question2}"></p></div></th>
            <td><p class="content" th:text="${resume.answer2}"></p></td>
          </tr>
          <tr>
            <th><div class="question"><p>질문3.</p><p th:text="${resume.question3}"></p></div></th>
            <td><p class="content" th:text="${resume.answer3}"></p></td>
          </tr>
          <tr>
            <th><div class="question"><p>질문4.</p><p th:text="${resume.question4}"></p></div></th>
            <td><p class="content" th:text="${resume.answer4}"></p></td>
          </tr>

          <tr>
            <th class="link">포트폴리오 링크</th>
            <td><p class="content" th:text="${resume.context}"></p></td>
          </tr>
        </table>

        <div class="button-group">
          <button type="submit">삭제</button>
          <button type="button" th:onclick="|location.href='@{/mypage/react_modify/{id}(id=${resume.resumeIdx})}'|">
            수정
          </button>
        </div>
      </form>
    </div>
    <div th:replace="include/footer :: footer"></div>
  </body>
</html>
