<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/resume_care.css}" />
<!--    <link rel="stylesheet" href="./css/resume_care.css" />-->
    <title>이력서관리</title>

    <script>
      function goDetail(event, id) {
        window.location.href = '/mypage/react_detail/' + id;
      }
    </script>

  </head>
  <body>
    <!-- 헤더 -->
    <div th:replace="include/header :: header"></div>


    <!-- 전체 컨테이너 -->
    <div class="tab-box">
      <div class="tab-inner">
        <h2 class="mypage-title">마이페이지</h2>

        <!-- 탭 버튼 -->
        <div class="tab-buttons">
          <button class="tab" onclick="location.href='/mypage/member_modify'">회원정보수정</button>
          <button class="tab1" onclick="location.href='/mypage/react_list'">이력서관리</button>
          <button class="tab" onclick="location.href='/mypage/apply_status'">지원현황</button>
          <button class="tab" onclick="location.href='/mypage/scrap'">스크랩</button>
        </div>

        <button class="tab5" onclick="location.href='/mypage/react_write';">추가</button>

        <!-- 게시물 리스트 -->
        <div class="resume-list" th:each="resume : ${resumes}">
          <div class="resume-card"
               th:onclick="|location.href='@{/mypage/react_detail/{id}(id=${resume.resumeIdx})}'|"
               style="cursor: pointer;">
            <span th:text="${resume.title}"></span>

            <!-- 삭제 버튼 안에서 stopPropagation() 안하면 이 onclick이 무조건 실행됨 -->
            <form th:action="@{/mypage/react_delete/{id}(id=${resume.resumeIdx})}"
                  method="post"
                  onsubmit="event.stopPropagation(); return confirm('정말 삭제하시겠습니까?');">
              <button type="submit" class="delete-button">삭제</button>
            </form>
          </div>
        </div>

        <!-- 페이지네이션 -->
        <div class="pagination">
          <ul class="pagination-list">
            <li><a href="#" class="page-btn">〈</a></li>
            <li><a href="#" class="page-btn active">1</a></li>
            <li><a href="#" class="page-btn">2</a></li>
            <li><a href="#" class="page-btn">3</a></li>
            <li><a href="#" class="page-btn">4</a></li>
            <li><a href="#" class="page-btn">5</a></li>
            <li><a href="#" class="page-btn">〉</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 푸터 -->
    <div th:replace="include/footer :: footer"></div>
  </body>
</html>
