<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />

    <script defer th:src="@{/js/main.js}"></script>
  </head>
  <body>
  <div th:replace="include/header :: header"></div>


  <main class="main-hero-section">
      <div class="background-layer"></div>

      <div class="hero-overlay">
        <h1 class="hero-text">자유로운 우리를 봐, 자유로워</h1>
      </div>
    </main>

  <div th:replace="include/footer :: footer"></div>
  </body>
</html>
